# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Build / packaging
dist/
build/
*.egg-info/
.eggs/

# Outputs and local data
data/output/*.json
data/input/*.kml

# IDE folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test / coverage
.pytest_cache/
.coverage
htmlcov/